[submodule "jacdac-ts"]
	path = jacdac-ts
	url = https://github.com/jacdac/jacdac-ts
[submodule "jacdac-ddk"]
	path = jacdac-ddk
	url = https://github.com/jacdac/jacdac-ddk
[submodule "node-red-contrib-jacdac"]
	path = node-red-contrib-jacdac
	url = https://github.com/jacdac/node-red-contrib-jacdac
[submodule "gatsby-remark-makecode"]
	path = gatsby-remark-makecode
	url = https://github.com/jacdac/gatsby-remark-makecode
[submodule "react-jacdac"]
	path = react-jacdac
	url = https://github.com/jacdac/react-jacdac
[submodule "jacdac-cli"]
	path = jacdac-cli
	url = https://github.com/jacdac/jacdac-cli
[submodule "jacdac-python"]
	path = jacdac-python
	url = https://github.com/jacdac/jacdac-python
[submodule "pxt-jacdac"]
	path = pxt-jacdac
	url = https://github.com/jacdac/pxt-jacdac
[submodule "jacdac-dotnet"]
	path = jacdac-dotnet
	url = https://github.com/jacdac/jacdac-dotnet
